<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="rtsp" type="RabbitOM.Player.Configuration.RtspConfigurationSection, RabbitOM.Player"/>
	</configSections>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<rtsp create_sources_if_empty="true">
		<sources>
		</sources>
	</rtsp>

</configuration>