name: Build 

env:
   SOLUTION_NAME: RabbitOM.sln
    
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest  
      
    steps:
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Checkout
      uses: actions/checkout@master

    - name: Restore Packages
      run: nuget restore $SOLUTION_NAME
        
    - name: Build
      run: |
        msbuild $SOLUTION_NAME /p:Configuration="Release"

    - name: UnitTests
      run: |
        dotnet test --configuration Release
